    @media screen and (max-width: 2560px) {
        .main-sidebar:hover {
            width: 15% !important;
        }
        .sidebar .nav-item a {
            font-size: 30px !important;
        }
        .sidebar .nav-item i {
            font-size: 30px !important;
            margin-right: 25px !important;
        }
        .sidebar .info a {
            font-size: 30px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 180px !important;
        }
    }
    @media screen and (max-width: 1920px) {
        .main-sidebar:hover {
            width: 18% !important;
        }
        .sidebar .nav-item a {
            font-size: 30px !important;
        }
        .sidebar .nav-item i {
            font-size: 30px !important;
            margin-right: 25px !important;
        }
        .sidebar .info a {
            font-size: 30px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 180px !important;
        }
    }
    @media screen and (max-width: 1600px) {
        .main-sidebar:hover {
            width: 18% !important;
        }
        .sidebar .nav-item a {
            font-size: 20px !important;
        }
        .sidebar .nav-item i {
            font-size: 30px !important;
            margin-right: 25px !important;
        }
        .sidebar .info a {
            font-size: 20px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 100px !important;
        }
    }
    @media screen and (max-width: 1366px) {
        .main-sidebar {
            max-width: 4.2rem !important;
        }
        .main-sidebar:hover {
            min-width: 15% !important;
        }
        .sidebar .nav-item a {
            font-size: 18px !important;
        }
        .sidebar .nav-item i {
            font-size: 18px !important;
            margin-right: 15px !important;
        }
        .sidebar .info a {
            font-size: 18px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 150px !important;
        }
    }
    @media screen and (max-width: 1280px) {
        .main-sidebar {
            max-width: 4.2rem !important;
        }
        .main-sidebar:hover {
            min-width: 15% !important;
        }
        .sidebar .nav-item a {
            font-size: 17px !important;
        }
        .sidebar .nav-item i {
            font-size: 17px !important;
            margin-right: 15px !important;
        }
        .sidebar .info a {
            font-size: 17px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 120px !important;
        }
    }
    @media screen and (max-width:992px) {
        .main-sidebar {
            min-width: 25% !important;
            /*max-width: 4.2rem !important;*/
        }
        .main-sidebar:hover {
            min-width: 15% !important;
        }
        .sidebar .nav-item a {
            font-size: 16px !important;
        }
        .sidebar .nav-item i {
            font-size: 16px !important;
            margin-right: 15px !important;
        }
        .sidebar .info a {
            font-size: 16px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 120px !important;
        }
    }
    @media screen and (max-width:768px) {
        .main-sidebar {
            min-width: 25% !important;
            /*max-width: 4.2rem !important;*/
        }
        .main-sidebar:hover {
            min-width: 15% !important;
        }
        .sidebar .nav-item a {
            font-size: 16px !important;
        }
        .sidebar .nav-item i {
            font-size: 16px !important;
            margin-right: 15px !important;
        }
        .sidebar .info a {
            font-size: 16px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 120px !important;
        }
    }
    @media screen and (max-width: 480px) {
        .main-sidebar {
            min-width: 50% !important;
            /*max-width: 4.2rem !important;*/
        }
        .main-sidebar:hover {
            min-width: 15% !important;
        }
        .sidebar {
            padding:0 !important;
        }
        .sidebar .nav-item a {
            font-size: 14px !important;
        }
        .sidebar .nav-item i {
            font-size: 14px !important;
            margin-right: 15px !important;
        }
        .sidebar .info a {
            font-size: 14px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 80px !important;
        }
    }
    @media screen and (max-width: 375px) {
        .main-sidebar {
            min-width: 40% !important;
            /*max-width: 4.2rem !important;*/
        }
        .main-sidebar:hover {
            min-width: 15% !important;
        }
        .sidebar {
            padding:0 !important;
        }
        .sidebar .nav-item a {
            font-size: 12px !important;
        }
        .sidebar .nav-item i {
            font-size: 12px !important;
            margin-right: 5px !important;
        }
        .sidebar .info a {
            font-size: 12px !important;
        }
        .sidebar .info {
            white-space: pre-wrap !important;
            max-height: 80px !important;
        }
    }
