
.login-page {
    border: 1px solid #000;
    position: relative;
    box-sizing: border-box; /* Ensures border is inside the content */
    /* Adjust padding as needed */
    border-radius: inherit; /* Optional: rounded corners */
	width: 500px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 3%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.input-group {
   /* border-radius: 5px;
    overflow: hidden; */
	position: relative;
    display: flex;
    align-items: center;
}
.input-group .form-control {
    padding-right: 40px; /* Creates space for the eye icon */
}

.input-group-append {
    position: absolute;
    right: 3px; /* Controls the right spacing */
    transform: translateY(-120%); /* Ensures proper vertical centering */
 
}

.password-field {
    border: none; /* Remove input border */
    outline: none;
    box-shadow: none;
}
.form-check {
    display: flex;
    align-items: center;
    gap: 5px; /* Adds spacing between checkbox and label */
	/* margin-top: 12px; */
}

.form-check-input {
    width: 18px; /* Adjust checkbox size */
    height: 18px;
    cursor: pointer;
    /* margin-top: 2.3rem !important */
}
input#remember {
    left: 1%;
}

.form-check-label {
    cursor: pointer;
    /* font-size: 14px; */
	margin-top: 2%;
    /* margin-left: 3%;
    margin-top: 8%; */
    color: #000 !important;
}

.input-group-text {
    cursor: pointer;
    background: #f8f9fa; /* Light gray background */
    border-left: 1px solid #000; /* Separate eye icon from input */
}

.card-body {
   	min-height: 220px;  
    max-height: 711px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 90%;
    margin: auto;
	left:30%;
}
.cardx {
    width: 500px; /* Set a fixed width */
    min-width: 300px; /* Optional: Ensures responsiveness */
    border-radius: inherit;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow */
    background: #fff;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
}
.login-box {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    margin-bottom: 7%;

}

/* .form-group {
    margin-bottom: 15px;
} */
.form-group .form-control{
    margin-top: 2% !important;
}
.required_filed, .error {
	color: #dd3131;
}
span.captcha-img img {
    margin-bottom: 5px;
}
.btn-refresh {
    /* padding: 5px;
    margin-left: 37%;
    position: absolute;
    top: 61%;
    box-shadow: none !important;  */
}

.btn-refresh:hover {
    color: #007bff;
}
@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
